flows (1).json
[{"id":"7810c135.3d8dc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"59812dfc.5632d4","type":"function","z":"7810c135.3d8dc","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.e);\nglobal.set(\"g\",msg.payload.e);\nglobal.set(\"h\",msg.payload.e);\nglobal.set(\"i\",msg.payload.e);\nglobal.set(\"j\",msg.payload.e);\nglobal.set(\"k\",msg.payload.e);\nglobal.set(\"l\",msg.payload.e);\nglobal.set(\"m\",msg.payload.e);\nglobal.set(\"n\",msg.payload.e);\nglobal.set(\"o\",msg.payload.e);\nglobal.set(\"p\",msg.payload.e);\nglobal.set(\"q\",msg.payload.e);\nglobal.set(\"r\",msg.payload.e);\n\n//following are required to receive a token\nvar apikey=\"GRNduLuaY4avYadyhpeaetnks4F7dgqc6k5OXMIhnnyl\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":200,"y":120,"wires":[["b2ec1566.87b1f8"]]},{"id":"8b61241d.c0fe58","type":"http request","z":"7810c135.3d8dc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e3a7b6a4-ac8e-4a23-82d0-067258005c5d/deployments/0aaa0cc9-8cd6-40e5-a347-86bbe7715eff/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["fc9b35ae.ff6458","83938341.8c409"]]},{"id":"a8755cf5.82032","type":"debug","z":"7810c135.3d8dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"83938341.8c409","type":"function","z":"7810c135.3d8dc","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["a8755cf5.82032","dfd2d520.c93e78"]]},{"id":"fc9b35ae.ff6458","type":"debug","z":"7810c135.3d8dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"fd6a6f04.c8623","type":"function","z":"7810c135.3d8dc","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"e3a7b6a4-ac8e-4a23-82d0-067258005c5d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Adult Mortality\", \"infant deaths\", \"Alcohol\",\n       \"percentage expenditure\", \"Hepatitis B\", \"Measles\", \"BMI\",\n       \"under-five deaths\", \"Polio\", \"Total expenditure\", \"Diphtheria\",\n       \"HIV/AIDS\", \"GDP\", \"Population\", \"thinness  1-19 years\",\n       \"thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":190,"y":200,"wires":[["8b61241d.c0fe58"]]},{"id":"b2ec1566.87b1f8","type":"http request","z":"7810c135.3d8dc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["fd6a6f04.c8623"]]},{"id":"dfd2d520.c93e78","type":"ui_text","z":"7810c135.3d8dc","group":"7e156976.d95678","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":716,"y":390,"wires":[]},{"id":"dc4664d6.5b8658","type":"ui_form","z":"7810c135.3d8dc","name":"","label":"","group":"7e156976.d95678","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality\t","value":"a","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol\t","value":"c","type":"number","required":true,"rows":null},{"label":"percentage expenditure\t","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B\t","value":"e","type":"number","required":true,"rows":null},{"label":"Measles","value":"f","type":"number","required":true,"rows":null},{"label":"BMI","value":"g","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"k","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"o","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"p","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":40,"wires":[["59812dfc.5632d4"]]},{"id":"7e156976.d95678","type":"ui_group","z":"","name":"Default","tab":"f5b2adb2.82e36","order":1,"disp":true,"width":"6","collapse":false},{"id":"f5b2adb2.82e36","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]